{% include 'base.html' %}

{% block content %}
    <div class="container my-5">
        <h1>Available rooms</h1>

        <div class="row my-5">
            {% for possible_room in possible_rooms %}
                <div class="col-md-3 my-5">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">{{ possible_room.name }}</h5>
                            <p class="card-text">Type: {{ possible_room.type.name }}</p>
                            <p class="card-text">Size: {{ possible_room.type.size }}</p>
                            <p class="card-text">Price: {{ possible_room.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    <h2>Already booked</h2>
        <ul>
            {% for ab in already_booked %}
                <li>{{ ab.room.name }}</li>
            {% endfor %}
        </ul>

    <h2>Booked rooms: {{ booked_rooms }}</h2>

    {% if res %}
        <h2>ROOMS AVAILABLES</h2>
    {% endif %}

    </div>
{% endblock %}